@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family-main: "Inter", "Times New Roman", Times, serif;

  --font-size-tiny: 12px;
  --font-size-sm: 16px;
  --font-size-m: 20px;
  --font-size-lg: 40px;
  --font-size-giant: 48px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  //--font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --border-style: 1px solid #D9D9D9;
  --border-radius: 8px;

  //Размеры
  --navbar-height: 100px;
  --footer-height: 65px;
}