.SidePanel {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0 0 0 / 50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

.closeIcon {
    padding: 10px 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 36px;

    &:hover {
        color: red;
    }
}

.content {
    height: 100vh;
    background-color: white;
    padding: 50px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
    display: flex;
    transition: 0.2s;
}
