.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.closeIcon {
    padding: 10px 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 36px;

    &:hover {
        color: red;
    }
}

.content {
    position: relative; /* Делает позиционирование абсолютным относительно этого блока */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}