.LandingTrainingProgramCardProps {
    min-width: 346px;
    width: 100%;
    min-height: 564px;
    height: 100%;
    border: var(--border-style);
    border-radius: var(--border-radius);
    padding: 15px;
    margin: 30px; //TODO удалить
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.picture {
    align-self: center;
    width: 200px;
    height: 200px;
}

.title {
    font-size: var(--font-size-m);
}

.userName {
    font-weight: 300;
    font-size: var(--font-size-sm);
}