.ProgramsContent {
    margin: 50px; //TODO если что поменять именно на самой странице лейаут
}

.form {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.programsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.program {
    max-width: 1000px;
    width: 100%;
}