.SidePanelAddContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidePanelTitle {
    font-weight: 500;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}