.ProgramDay {
  border: var(--border-style);
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  justify-items: center;
}

.dayWrapper {
  justify-self: start;
  margin-left: 20px;
  max-width: 130px;
  width: 100%;
  font-size: var(--font-size-m);
  font-weight: 600;
  background: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercisesWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.closed {
  grid-template-columns: 1fr 1fr;
}

.arrowWrapper {
  margin-right: 20px;
  justify-self: end;
}