.ProgramDay {
  border: var(--border-style);
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  justify-items: center;
}

.dayWrapper {
  max-width: 130px;
  width: 100%;
  font-size: var(--font-size-m);
  font-weight: 600;
  background: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercisesWrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.exercise {
  width: 100%;
}

.closed {
  // justify-items:;
}