.UserCard {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;

    &:hover {
        opacity: 0.7;
    }
}

.picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.userName {
    color: var(--secondary-text-color);
}
