.ProgramCard {
  // max-width: 1000px;
  // width: 100%;
  border: var(--border-style);
  border-radius: var(--border-radius);
  padding: 20px;
  display: flex;
  gap: 20px;
}

.ProgramCard:hover {
  transition: .1s;
  background: #D7FFC8;
}

.pictureWrapper {
  background: #e0dede;
} 

.picture {
  width: 207px;
  height: 186px;
}

.infoWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
}

.hr {
  border-top: 1px solid black;
}

.deleteCreator {
  display: none;
}

.selected {
  transition: .1s;
  background: #D7FFC8;
}