.ProgramCreateType {
    padding: 100px;
}

.title {
    text-align: center;
    margin-bottom: 30px;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
