.LandingSection {
    max-width: 1670px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    font-weight: 400;
    text-align: center;
}

.description {
    text-align: center;
}