.ProgramDays {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.buttonWrapper {
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
