.SubscribeProgram {
    border: var(--border-style);
    border-radius: var(--border-radius);
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleWrapper {
    max-width: 560px;
    text-wrap: wrap;
}
