.ExerciseNote {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
}

.title {
    font-weight: 500;
}

.textarea {
    width: 100%;
}