.ExerciseInProgram {
  border: var(--border-style);
  border-radius: var(--border-radius);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.imageWrapper {
  width: 190px;
  height: 150px;
  background: #D9D9D9;
  text-align: center;
}

.image {
  width: 100px;
  height: 100px;
}