.titleWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputWrapper {
    padding: 0 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
