.sidePanel {
    width: 40%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sidePanelTitle {
    font-weight: 500;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}