@import "@styles/mixins/_adaptive";

.RegisterForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include sm {
        font-size: var(--font-size-tiny);
    }
}

.accountExists {
    float: right;
    align-self: flex-end;
}

.login {
    color: var(--primary-text-color);
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.inputDescription {
    font-size: var(--font-size-tiny);
    line-height: 16px;
}
