.AppLayout {
    //display: grid;
    //grid-template-columns: 240px 1fr;
    display: flex;
    flex: 1 1 0;
    align-items: stretch;
}

.contentWrapper {
    position: relative;
    max-width: 1570px;
    width: 100%;
    margin: 30px auto;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backButton {
    z-index: 0;
}

.title {
    font-weight: 400;
    font-size: var(--font-size-lg);
    text-align: center;
}
