.AppLayout {
    display: grid;
    grid-template-columns: 240px 1fr;
}

.contentWrapper {
    position: relative;
    max-width: 1570px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 400;
    font-size: var(--font-size-lg);
    text-align: center;
}
