.mainContent {
    min-height: 100vh;
}

.mainWithSidebar {
    margin-left: var(--sidebar-width);
    padding: var(--spacing-xl);
}

.backButton {
    z-index: 0;
}

@media (max-width: 768px) {
    .mainWithSidebar {
        margin-left: 0;
        padding-top: calc(var(--spacing-xl) + 48px);
    }
}

@media (max-width: 400px) {
    .mainWithSidebar {
        padding: var(--spacing-sm);
        overflow-x: hidden;
    }

    * {
        max-width: 100% !important;
        word-wrap: break-word !important;
        overflow-wrap: break-word !important;
    }
}
