.OverviewContent {
    margin: 50px;
}

.programTitle {
    margin: 20px 0;
    font-weight: 400;
}

.programsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.program {
    flex-grow: 0;
    max-width: 500px;
    width: 100%;
}