:root {
    --bg-color: #fff;

    // --inverted-bg-color: #090949;

    --primary-color: #5b50c3;
    --secondary-color: #0095ff;
    --primary-text-color: #000;
    --secondary-text-color: #fff;
    --primary-higlight-color: #4f0;
    --secondary-higlight-color: #d7ffc8;

    // --inverted-primary-color: #049604;
    // --inverted-secondary-color: #04ff04;
}
