.app.light {
  --bg-color: #FFFFFF;
  //--inverted-bg-color: #090949;

  --primary-color: #5B50C3;
  --secondary-color: #0095FF;

  --primary-text-color: #000000;
  --secondary-text-color: #FFFFFF;

  --primary-higlight-color: #44FF00;
  --secondary-higlight-color: #D7FFC8;
  //--inverted-primary-color: #049604;
  //--inverted-secondary-color: #04ff04;
}