.Navbar {
  max-width: 240px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 10px;
  background: var(--primary-color);
}

.content {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userCard {
  margin: 20px 0;
}

.changeLang {
}