.Navbar {
    max-width: var(--navbar-width);
    min-height: 100vh;
    width: 100%;
    padding: 10px;
    background: var(--primary-color);
    transition: 0.2s max-width;
}

.collapsed {
    max-width: 60px;
    transition: 0.2s max-width;
}
