.Navbar {
  max-width: 240px;
  width: 100%;
  height: 100vh;
  padding: 10px;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userCard {
  margin: 20px 0;
}