.ExerciseCard {
  border: var(--border-style);
  border-radius: var(--border-radius);
  width: 338px;
  min-height: 426px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pictureWrapper {
  background: #e0dede;
}

.picture {
  margin: 0 auto;
  width: 50%;
}

.title {
  font-weight: normal;
  line-height: var(--font-line-l);
}