.ExercisePage {
    position: relative;
    width: 80%

}

.imgWrapper {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exerciseImage {
    margin: 20px 0;
    width: 250px;
    height: 200px;
}

.informationWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    // justify-items: center;
    // align-items: center;
    // justify-content: space-between;
    // align-content: space-between;
}

.closeIcon {
    padding: 10px 30px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    font-size: 36px;

    &:hover {
        color: red;
    }
}