.imgWrapper {
    text-align: center;
}

.exerciseImage {
    margin: 20px 0;
    width: 250px;
    height: 200px;
}

.informationWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    // justify-items: center;
    // align-items: center;
    // justify-content: space-between;
    // align-content: space-between;
}