.CollapsedNavbar {
    max-height: 35px;
    max-width: var(--navbar-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.navIcon {
    user-select: none;
}
