.requirementCardWrapper {
    display: grid;
    margin: 0 auto;
    // justify-content: center;
    // align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

.createExerciseForm {
    margin: 20px;
    border: var(--border-style);
    border-radius: var(--border-radius);;
    padding: 50px;
}

.programCard, .subscribeProgram  {
    max-width: 1000px;
    width: 100%;
}

.trainingProgramCardsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}