.Header {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item {
  margin: 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

//.links {
//  margin-left: auto;
//}
//
//.mainLink {
//  margin-right: 15px;
//}