.UserInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.avatar {
    // border: var(--border-style); TODO
    border: 1px solid black; 
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.buttonWrapper {
    margin: 10px 0;
    display: flex;
    gap: 10px;
}

.nick {
    font-weight: 400;   
}

.editButton {
    flex-grow: 1;
}