.NavIconItem {
    width: 35px;
    height: 35px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: #76db54;
        border-radius: 50%;
        transition: 0.3s ease background;
    }
}
