.RequirementCard {
    max-width: 500px;
    width: 100%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
}
