.Footer {
    background: var(--primary-color);
    height: var(--footer-height);
    display: flex;
    align-items: center;
}

.text {
    color: var(--secondary-text-color);
    margin-left: 30px;
    font-size: var(--font-size-m);
}
