.RegisterPageTitle {
  width: 50vw;
  height: 100vh;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.registrationTitle {
  color: var(--secondary-text-color);
  font-size: var(--font-size-giant);
}