.modal {
    max-width: 800px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.modalTitle {
    font-weight: 500;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}