.AppLink {
  font-family: var(--font-family-main), serif;
}

.AppLink:hover {
  transition: .2s;
  color: var(--primary-higlight-color);
}

.black {
  color: var(--primary-text-color);
}

.white {
  color: var(--secondary-text-color);
}

//.primary {
//  color: var(--secondary-text-color)
//}
//
//.secondary {
//  color: var(--inverted-primary-color)
//}